extends layout

block content
    .container-fluid.fullheight.main-layout
      #mainlayout
        #canvascontainer
          canvas#canvasuiele(resize="true" width="1280" height="720")
    .userlist
      .div
        .div
          h3
            span
            | Class Room : 
            span(data-bind="text: classRoom")
          h4 
            span#yourname
          ul.list-group(data-bind="foreach: participants")
            li.list-group-item( data-bind="css: { thisuser: isThisUser() }")
              span(data-bind="text: userName")
              span.onlinethis(data-bind="visible: isThisUser(), click : callThis",data-toggle='tooltip', title="change pencil color")
              span.online.caller-switch.fa.fa-phone(data-bind="visible:! hasStream(), click : callThis",data-toggle='tooltip', title="Call This user")
              span.online-call.caller-switch.fa.fa-phone(data-bind="visible:hasStream(), click: disconnectThat",data-toggle='tooltip',  title="Disconnect with this user")
              audio(autoplay="autoplay" data-bind="attr: {'id': 'audio_' + userName}")
    script.
     window.user = {};
     window.user.emailid = "#{emailid}";
     window.user.classroom = "#{classRoom}";
    |<script src='/javascript/adapter.js'></script> <script src='/javascript/connectionmanager.js'></script>  <script src='/javascript/main.js'></script> <script src='/vendor/fabric.min.js'></script>