extends layout

block content
    .main-layout
        h1.text-center Smart Learning
        .userlist
            button.navList(data-toggle='tooltip', title="show users" , onclick="toggleUsers()")
                span
            h3.col-md-12.Class-room-details
                span.labelText Class Room : 
                span.CRName(data-bind="text: classRoom")
            ul.col-md-12(data-bind="foreach: participants")
                li(data-bind="css: { thisuser: isThisUser() }")
                    span(data-bind="text: userName")              
                    span.call-on.caller-switch.fa.fa-phone(data-bind="visible:! hasStream(), click : callThis",data-toggle='tooltip', title="Call This user")
                    span.call-off.caller-switch.fa.fa-phone(data-bind="visible:hasStream(), click: disconnectThat",data-toggle='tooltip',  title="Disconnect with this user")
                    audio(autoplay="autoplay" data-bind="attr: {'id': 'audio_' + UiId}")
            .screens
                .one.screen
                    img#img_0
                .two.screen
                    img#img_1
                .three.screen
                    img#img_2
                .four.screen
                    img#img_3
        ul.tool-box
            li
                span.onlinethis(data-toggle='tooltip', title="clear All" , onclick="clearAll()")
                    i.fa.fa-file-o
            li.tool-select
                span.onlinethis-eraser(data-toggle='tooltip',onclick="eraserMode()" title="Eraser")
                    i.fa.fa-eraser
            li.tool-select
                span.onlinethis.red(data-toggle='tooltip',onclick="redPencil()", title="change pencil red")  
            li.tool-select
                span.onlinethis.green(data-toggle='tooltip',onclick="greenPencil()", title="change pencil green")
            li.tool-select
                span.onlinethis.blue(data-toggle='tooltip',onclick="bluePencil()", title="change pencil blue")
            li.tool-select.active-tool
                span.onlinethis.black(data-toggle='tooltip',onclick="blackPencil()", title="change pencil black")  
            li
                span(data-toggle='tooltip', title="Save Screen" , onclick="saveScreen()")
                    i.fa.fa-save 
            li
                span(data-toggle='tooltip', title="Load Dashboard",style="cursor:pointer")
                    a(href="/dashboard?user=#{emailid}", target="_blank")
                        i.fa.fa-heartbeat        
            li.students
                span(data-toggle='tooltip', title="show users" , onclick="toggleUsers()")
                    i.fa.fa-users         
        #mainlayout
            #canvascontainer
                canvas#canvasuiele(resize="true" width="1280" height="720")  
    script.
     window.user = {};
     window.user.emailid = "#{emailid}";
     window.user.classroom = "#{classRoom}";
    |<script src='/javascript/adapter.js'></script> <script src='/javascript/connectionmanager.js'></script>  <script src='/javascript/main.js'></script> <script src='/vendor/fabric.min.js'></script>
