extends layout

block content
    .login_screen
    .login-form
        .form-inner
            .text-vertical-center
                .login
                    h1.text-center Smart Guru
                    .login-box.col-md-12
                        form
                            .form-group
                            input#email.form-control.form-input(type="email" ,name="emailid" placeholder="Email" required ="required")
                            .form-group
                            input#classroom.form-control.form-input(type="text" ,name="classroom" placeholder="Class Room", required ="required")
                            .form-group
                            input.btn.btn-primary.button_login(type="submit" value="Enter class room")
    | <script src='/javascript/home.js'></script>