doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta name="keywords" content="Nodejs, Node.js, socket.io, WebRTC, audio call, whiteboard (canvas),  screen saving">
    meta(name='description', content='Nodejs socket.io WebRTC demo application with audio calling, whiteboard (canvas) and screen saving')
    meta(name='author', content='vijay22uk')
    title Smart learning
    link(href='/style/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic', rel='stylesheet')
    link(href='/style/font-awesome.min.css', rel='stylesheet')
    link(href='/style/style.css', rel='stylesheet')
    link(href='/style/toastr.min.css' , rel='stylesheet')
    script(src='/vendor/knockout-3.1.0.js')
    | <script src="/socket.io/socket.io.js"></script>
    script(src='/vendor/jquery-1.11.1.min.js')
    script(src='/vendor/toastr.min.js')
    script(src='/vendor/bootstrap.min.js')
  body.isloading
    .loader
  block content
