html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.login-form{
    position: absolute;
    left:0px;
    top:0px;
    bottom:0px;
    right:0px;
    width: 100%;
}
.form-inner{
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
}
.login{
    width: 500px;
    margin:0 auto;
}
.login-box{
    padding-top: 30px;
    padding-bottom: 20px;
    background: rgba(255,255,255,0.7);
    box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    
}
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-vertical-center h1 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
    color:#b84d45;
    position: relative;  
}

.form-input{
    height: 50px;
    padding: 20px;
    border-width: 0 0 1px 0px;
    border-radius:0;
    font-size: 18px;
    color: #000;
    background: rgba(255,255,255,0.1);
    box-shadow: none;
}


.button_login{
    box-shadow: none;
    border-radius:0;
    border:0;
    padding:10px 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 20px;
    background-color: #0f303f;
}
.button_login:hover,
.button_login:focus{
    background-color: #0e3445;
}

.login_screen {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../icons/bg-img.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}



/******** Whiteboard Screen ***********/

.main-layout{
    width: 100%;
    height: 100%;
    padding-top: 45px;
    position: relative;
}
.main-layout > h1{
    margin: 0px;
    padding:0px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: #b84d45;
    color: #fff;
}
#mainlayout{
    position: absolute;
    top: 85px;
    left:300px;
    right:0px;
    bottom: 0px;
}
#canvascontainer{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.userlist{
    width: 300px;
    left: 0px;
    bottom:0px;
    top: 45px;
    background: #414141;
    z-index: 99;
    position: fixed;
    overflow: auto;
}
.userlist h3{
    color: #ccc;
    font-size: 18px;
    margin:0px;
    padding-top:15px;
    padding-bottom:15px;
    font-weight: 900;
    text-transform: uppercase;
}
.userlist h3 span{
    color: #fff;
    text-transform: none
}
.userlist ul{
    margin: 0px;
    list-style: none;
    padding:0px;
}
.userlist ul li{
    margin-bottom: 1px;    
    background-color: rgba(255,255,255,0.1);
    width:100%;
    padding:10px 50px 10px 15px;  
    color: #eee;
    min-height: 30px;
    position: relative;
}
.userlist ul li .call-on{
    color: #76b804;
}
.userlist ul li .call-off{
    color: #ce450e;
}
.userlist ul li .call-on,
.userlist ul li .call-off{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 40px;
    width: 40px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    background-color: rgba(255,255,255,0.1);
}

.tool-box{
    position: fixed;
    left: 300px;
    top: 45px;
    height: 40px;
    right: 0px;
    background: #f1f1f1;
    list-style: none;
    margin: 0;
    padding:0 0 0 1px;
     border-left: 15px solid rgba(0,0,0,0.5)
}

.tool-box li{
    width: 40px;
    height: 40px;
    float: left;
    text-align: center;
    margin-right: 1px;
}
.tool-box li > span{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
    float:left;
    font-size: 15px;
    line-height: 40px;
     position: relative;
}
.tool-box li > span:before{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin:-8px 0 0 -8px;
    content: '';
    border-radius: 50%;
}

.tool-box li > span.onlinethis-eraser{
    font-size: 20px;
}
.tool-box li > span.red:before{
    background: red;
}
.tool-box li > span.green:before{
    background: green;
}
.tool-box li > span.blue:before{
    background: blue;
}
.tool-box li > span.black:before{
    background: black;
}
.students{
    display: none;
}
.thisuser .caller-switch{
    display: none;
}
@media(max-width:768px){
    .tool-box{
        z-index: 100;
    }
    .students{
        display: inline-block;
    }
    .userlist{
        display: none;
    }
    #mainlayout{
        left: 0;
        top:45px;
    }
}
@media(max-width:600px){
    .login{
        width:98%;
        margin:0 auto;
    }
    .students{
        display: inline-block;
    }
}

.active-tool{
        border-bottom: 2px solid #62a4f7;
}