   body.home{
	    background-color: #5D5A5A;
		
   }
   html,
body{
  height: 100%;
  width: 100%;
}
   
   .modal-cont{
	 background-color: #534F7B;
    color: white;
   }
   .modal-cont input{
       color: black;
   }
   .canvas{
       border:1px solid red;
   }
   
   .right-panel{
       border: 1px solid green;
       height: 100%;
   }
   .left-panel{
       border: 1px solid green;
       height: 100%;
   }
   
   .fullheight{
       height:100%;
   }
   #callAll{
       background-color: green;
   }
   #disconnectCall{
       background-color: red;
   }
   .online{
    color:green !important;
   }
   .online-call{
    color: red !important;
   
   }
   .thisuser .caller-switch{
       display: none !important;
   }
   .onlinethis{
    float: right;
    vertical-align: middle;
    background-color: black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
   }
   .onlinethis-eraser{
    float: right !important;
    color: red;
    }
   
   /**** check **********/
.list-group-item span{
    color:black;
}
.main-layout{
  width: 100%;
  height:100%;
  float: left;
  position:relative;
  padding-bottom: 45px;
  padding-top: 57px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  transition: left 0.15s ease-in-out;
}
.userlist{
    background: rgb(41, 41, 40);
    padding: 9px 0px 0px 4px;
    width: 320px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    color: white;
    z-index: 2;
}


#canvascontainer{
    left: 0px;
    position: absolute;
    right: 0px;
    top:0px;
    bottom:0px;
    overflow:auto;
    min-width:1020px;
    min-height:768px;
}

.canvas-container {
    overflow:auto;
}
#mainayout {
    width:100%;
    min-width:1024px;
    top:108px;
    left:0;
    position:absolute;
}
.caller-switch{
    cursor: pointer;
    cursor: pointer;
    float: right;
    font-size: 25px;
}
#yourname{
 color:#0093ff
}
.navbar-header {
        margin-top: 10px;
}
.navbar-header , .navbar-brand{
    float: none !important;
    color:white !important;
    text-align: center !important;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 748px)
  {
      .userlist{
          width: 200px;
      }
      
      .navbar-header , .navbar-brand{
    float: none !important;
    color: white !important;
    text-align: center !important;
    margin-left: 20px;
}

}
@media (min-width: 768px){
.modal-dialog {
    margin: 89px auto !important;
}
}

.disableAll{
    pointer-events: none;
}
body.isloading{
    background-color: white;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/icons/load.gif') 50% 50% no-repeat rgb(249,249,249);
}